$custom_primary_color: #11101d;
$custom_primary_color-hover: #1c155ab6;
$custom_secondary_color: #e7e6f8;
$custom_warning_color: rgb(255, 57, 57);
$custom_txt_color: #1d1b31;
$custom_bg_color: rgb(235, 235, 235);
$custom_bg_secondary_color: rgb(246, 247, 255);
$custom_bg_hover_color: rgb(216, 216, 216);
$custom_input_txt_color: #1d1b31;

// box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
// transition: all 0.3s ease;
